body{
	
	
	background-image: url("Pics/Theme3.jpg");
	background-repeat: no-repeat;
	background-size: 1920px 1300px;
	
}



.T1 {
		position: absolute;
		
		font-family:cursive;
		font-style: italic;
		color: #e75480;
		font-size:50px;
		left:750px;
		top: 90px;
}


.T2 {
	position: absolute;
	top:700px;
	left:900px;
	font-style: normal;
	color: #FF47A4;
	font-size:25px;
}





.slider-frame{
    overflow: hidden;
    height: 500px;
    width: 1200px;
    margin-left: 500px;
    margin-top: 20px;
}



@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left: 2400px;}
    50% {left: 2400px;}
    60% {left: 1200px;}
    70% {left: 1200px;}
    80% {left: 0px;}
    90% {left: 0px;}
    100% {left:0px;}
}

.slide-images{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
	float: left;
	top:100px;
}












.drop_menu {
	position:relative;
	top:-8px;
	background:#FF9FCF;
	padding:10;
	margin:0;
	list-style-type:none;
	height:60px;
	background-image:url('bg.jpg');
	opacity: 0.6;
	
}
.drop_menu li { float:left; }
.drop_menu li a {
	padding:23px 90px;
	display:block;
	color:black;
	text-decoration:none;
	font:15px arial, verdana, sans-serif;
	border-right:#FF9FCF;
}

/* Submenu */
.drop_menu ul {
	position:absolute;
	left:-9999px;
	top:-9999px;
	list-style-type:none;
}
.drop_menu li:hover { position:relative; background:#FF9FCF;  }
.drop_menu li:hover ul {
	left:0px;
	top:60px;
	background:#FF9FCF;
	padding:0px;
}

.drop_menu li:hover ul li a {
	padding:10px;
	display:block;
	width:168px;
	text-indent:15px;
	background-color:#FF9FCF;
}
.drop_menu li:hover ul li a:hover { background:#FF86C3;  }





.W1{
	
	
	position:relative;
	top:	150px;
	left:	100px;
	width:	300px;
	height: 300px;
	opacity: 0.9;
	
}

.S1{

	position: relative;
	top: -5px;
	left: 8px;
	color : red;
	
}

.S2{

	position: relative;
	top: -5px;
	left: 8px;
	color : red;
	
}


.S3{

	position: relative;
	top: -5px;
	left: 8px;
	color : red;
	
}


.S4{

	position: relative;
	top: -5px;
	left: 8px;
	color : red;
	
}



.Oval1 {
	position: absolute;
	top:1080px;
	left:200px;
 	 height: 50px;
 	 width: 70px;
  	background-color: rgba(238, 255, 0, 0.596);
 	 
 	border-radius: 50%;

}

.Oval2 {
	position: absolute;
	top:1080px;
	left:640px;
 	 height: 50px;
 	 width: 70px;
  	background-color: rgba(238, 255, 0, 0.596);
 	 
 	border-radius: 50%;

}


.Oval3 {
	position: absolute;
	top:1080px;
	left:1100px;
 	 height: 50px;
 	 width: 70px;
  	background-color: rgba(238, 255, 0, 0.596);
 	 
 	border-radius: 50%;

}

.Oval4 {
	position: absolute;
	top:1080px;
	left:1570px;
 	 height: 50px;
 	 width: 70px;
  	background-color: rgba(238, 255, 0, 0.596);
 	 
 	border-radius: 50%;

}






.W2{
	
	
	position:relative;
	top:	150px;
	left:	200px;
	width:	300px;
	height: 300px;
	
	opacity: 0.9;
	
}

.W3{
	
	
	position:relative;
	top:	150px;
	left:	350px;
	width:	300px;
	height: 300px;
	opacity: 0.9;
	
}

.W4{
	
	
	position:relative;
	top:	150px;
	left:	500px;
	width:	300px;
	height: 300px;
	opacity: 0.9;
	
}

.I1{
	
	
	position:relative;
	top:	150px;
	left:	500px;
	width:	100px;
	height: 100px;
	opacity: 0.9;
	
}

.I2{
	
	
	position:relative;
	top:	150px;
	left:	600px;
	width:	100px;
	height: 100px;
	opacity: 0.9;
	
}

.I3{
	
	
	position:relative;
	top:	150px;
	left:	700px;
	width:	100px;
	height: 100px;
	opacity: 0.9;
	
}

.I4{
	
	
	position:relative;
	top:	150px;
	left:	800px;
	width:	100px;
	height: 100px;
	opacity: 0.9;
	
}

.I5{
	
	
	position:relative;
	top:	-50px;
	left:	110px;
	width:	30px;
	height: 30px;
	opacity: 0.9;
	
}


















































